img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  border-bottom: 1px solid #ddd;
}

main {
  padding: 2rem 0;
}

h1, h2, h3 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  max-width: 800px;
  text-wrap: pretty;
}

hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px dashed #000;
}