/* Header nav & menu */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.menu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.burger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
}

@media (max-width: 750px) {
  .menu {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
    position: absolute;
    right: 2rem;
    top: 4rem;
    background-color: #f2f2f2;
    border: 1px solid #333;
    padding: 1rem;
  }

  .menu.show {
    display: flex;
  }

  .burger {
    display: block;
  }
}


/* voting area */

.image-container {
  display: flex;
  gap: 3rem;
  justify-content: start;
  margin: 2rem 0;
}

.vote-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  border: 4px solid transparent;
  transition: all 0.25s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.selected {
    border-color: blue;
    transform: scale(1.05);
  }
}

button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 1rem;
}

/* results table */
th, td {
    padding: 0 0 8px;
    text-align: left;
}

td {
    img {
        max-width:200px;

    }
    text-align: center;
}